{{ define "main" }}

<div class="disclaimer">{{ .Content }}</div>

{{ range .Pages.ByPublishDate.Reverse }}

<section class="portfolioElement">
  <div class="portfolioElementThumb">
    <img src="{{ .Params.thumbnail }}" alt="Card image">
  </div>
  <div class="portfolioElementContent">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <h3>{{ .Params.genre }} <span>{{ .Params.time }} • {{ partial "year.html" . }}</span></h3>
    <p>{{ .Params.synopsis }}</p>

    <ul>
      {{ with .Params.tags }}
        {{ range . }}
          {{ $href := print (absURL "tags/") (urlize .) }}
          <li><a href="{{ $href }}">{{ . }}</a></li>
        {{ end }}
      {{ end }}
      <li class="lastLink"><a href="{{ .RelPermalink }}">Lire plus</a>
    </ul>
  </div>
</section>

{{ end }}

{{ end }}
