/* MAIN MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav.mainMenu ul li {
  display: inline;
  padding: 0 25px 0 0; }

  nav.mainMenu ul li a {
    text-transform: uppercase; }

    nav.mainMenu ul li a.active {
      border-bottom: 1px solid #91477b;
      padding-bottom: 9px;}

/* INLINE MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.inline-menu li {
  display: inline; }

  /* P
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.border-left { border-left: 1px solid #333; }

.mail {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left; }
