{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="two columns">
      {{ partial "main-menu.html" . }}
      <nav class="portfolioMenu">
        <!--<ul>
          {{ range .Site.Taxonomies.tags }}
              <li><a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a></li>
            {{ end }}
        </ul>-->
      </nav>
    </div>
    <div class="ten columns">
      <article class="blogs">
        <section>
          <ul>
            {{ range .Pages.ByPublishDate.Reverse }}
            <li>{{ partial "date.html" . }}-&nbsp;<a href="{{ .RelPermalink }}">{{ .Title }}</a>&nbsp;{{ partial "tags.html" . }}</li>
            {{ end }}
          </ul>
        </section>
      </article>
    </div>
  </div>
</div>



{{ end }}
