{{ define "main" }}


<div class="container">
  <div class="row">
    <div class="two columns">
      {{ partial "main-menu.html" . }}
      <nav class="portfolioMenu">
        <!--<ul>
          {{ range .Site.Taxonomies.tags }}
              <li><a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a></li>
            {{ end }}
        </ul>-->
      </nav>
    </div>
    <div class="ten columns">
      <article class="blog">
        <header>
          {{ partial "date.html" . }} par Luca Mailhol
          <h2>{{ .Title }}</h2>
        </header>
        <section class="blogContent">
          {{ .Content }}
        </section>
        <footer>
          <p>
          {{ with .PrevInSection }}
            <a class="previous" href="{{.RelPermalink}}"><< {{.Title}}</a>
          {{ end }}
          &nbsp;
          {{ with .NextInSection }}
            <span style="float:right;"><a class="next" href="{{.RelPermalink}}">{{.Title}} >></a></span>
          {{ end }}
          </p>
        </footer>
      </article>
    </div>
  </div>
</div>


{{ end }}
