<!DOCTYPE html>
<html lang="en">

  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="dark has-fullscreen-hamburger-menu">
      
    <!-- Page Wrapper -->
          
    <div id="page" class="site">
          
      <header id="masthead" class="site-header standard full-width transparent" role="banner">

          {{ partial "mainMenu.html" . }}

      </header>
          
      <div class="site-content-contain">

        <div id="content" class="site-content">    
            <div id="primary" class="content-area">
              <main id="main" class="site-main" role="main"> 

                {{ block "main" . }}{{ end }}

              </main>
            </div> <!-- .content-area -->        
        </div> <!-- .site-content -->                  
          
        {{ if .IsHome }}

        {{ else }}

          <footer id="footer" class="site-footer standard" role="contentinfo">

            {{ partial "mainFooter.html" . }}

          </footer>     

        {{ end }}

      </div> <!-- .site-content-contain -->
          
    </div> <!-- .site -->
          
          <!-- Page Wrapper Ends -->
            
    <div class="background-circle">
      <div></div>
    </div>
          
    {{ partial "footer.html" . }}      
 
  </body>
    
</html>
