<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
  <body>
    <div class="headBar"><a href="{{ $.Site.BaseURL }}">Luca Mailhol</a></div>
    <div class="container">
      <div class="row">
        <div class="two columns">
          {{ partial "main-menu.html" . }}
        </div>
        <div class="ten columns">
            {{ block "main" . }}{{ end }}
        </div>
      </div>
    </div>
    <div class="mainFooter">
      {{ partial "main-footer.html" . }}
    </div>
  </body>
</html>
