<div class="col-lg-3 col-sm-12 p-lg-0 m-l-lg-n-10 m-l-md-n-0">
	    
	<aside id="secondary" class="widget-area" role="complementary" aria-label="Blog Sidebar">
	    
		<!--<section class="widget widget_text">
			<h2 class="widget-title">
				<span>Qu'est-ce ?</span>
			</h2>
					
			<div class="textwidget">
				<p>Vous trouverez dans ce blog quelques petits récits de voyages ou autres randonnées, des articles racontant les films sur lesquels je travaille ainsi que d'autres notes diverses.</p>
					</div>
		</section>-->

		<section class="widget widget_categories">
			<h2 class="widget-title">
				<span>Quelques listes...</span>
			</h2>
			<ul>
				<li>Ce que j'utilise</li>
				<li>Ce que je regarde</li>
				<li>Ce que j'écoute</li>
				<li>Ce que je lis</li>
			</ul>
		</section>
	    
	</aside>
</div>