    <!-- Document Title -->
    <title>Site personnel de Luca Mailhol</title>

    <!-- Metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luca Mailhol" />

    <!-- Favicon -->

    <link rel="icon" type="image/png" href="#" />

    <!-- Links -->  


    {{ $fontawesome := resources.Get "css/icons/font-awesome.min.css" }}
    {{ $bootstrap := resources.Get "vendors/bootstrap/css/bootstrap.min.css" }}
    {{ $swiper := resources.Get "vendors/swiper/css/swiper.min.css" }}
    {{ $cubeportfolio := resources.Get "vendors/cubeportfolio/css/cubeportfolio.min.css" }}
    {{ $magnificpopup := resources.Get "vendors/magnific-popup/magnific-popup.css" }}

    {{ $style := resources.Get "style.css" }}

    <link href="https://fonts.googleapis.com/css2?family=Philosopher" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    
    <!--<link rel='stylesheet' id='font-awesome-css' href='{{ $fontawesome.RelPermalink }}' type='text/css' media='all' />-->
    <link rel='stylesheet' id='bootstrap-css' href='{{ $bootstrap.RelPermalink }}' type='text/css' media='all' />
    <link rel='stylesheet' id='swiper-css' href='{{ $swiper.RelPermalink }}' type='text/css' media='all' />
    <link rel='stylesheet' id='cubeportfolio-css' href='{{ $cubeportfolio.RelPermalink }}' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css' href='{{ $magnificpopup.RelPermalink }}' type='text/css' media='all' />
    
    <link rel='stylesheet' id='main-css' href='{{ $style.RelPermalink }}' type='text/css' media='all' />