<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ $skeleton := "css/skeleton.css" | absURL }}
  {{ $normalize := "css/normalize.css" | absURL }}
  {{ $style := "css/style.css" | absURL }}
  <link rel="stylesheet" href="{{ $skeleton }}">
  <link rel="stylesheet" href="{{ $normalize }}">
  <link rel="stylesheet" href="{{ $style }}">
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500" rel="stylesheet">
</head>
