<div class="container">
        
    <nav class="footer-socials" role="navigation" aria-label="Liens vers les reseaux sociaux">
        
        <ul id="social-media-footer" class="social-links-menu">
            <li>
                <a href="https://mamot.fr/@lmailhol" target="_blank">
                    <span>Mast</span>
                    <i class="fab fa-mastodon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/lmailhol/" target="_blank">
                   <span>Insta</span>
                  <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.imdb.com/name/nm9356201/" target="_blank">
                    <span>Imdb</span>
                    <i class="fab fa-imdb"></i>
                </a>
            </li>
        </ul>
        
    </nav>
        
    <div class="site-info">
        <p class="copyright">© 2024 Luca Mailhol </p>
    </div><!-- .site-info -->
        
</div><!-- .wrap -->