/* BASE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  background-color: #121212; }

body {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgba(255,255,255,0.6);
  min-height:100vh;
	display:flex;
	flex-direction:column; }

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  flex-grow: 1; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

p { margin: 0; }

a {
  color: rgb(145, 71, 123);
  text-decoration: none; }
a:hover { color: rgb(92, 43, 77); }

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0; }

h3 {
  font-size: 17px;
  font-weight: 300;
  color: rgb(145, 71, 123);
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.disclaimer {
  text-align: center;
  border: 1px solid rgba(255,255,255,0.08);
  background-color: rgba(255,255,255,0.05);
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  color: rgba(255,255,255,0.6);
  margin-bottom: 30px;
}

/* MAIN MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav.mainMenu {
  margin-top: 20px;
  margin-bottom: 20px;
}

nav.mainMenu ul li {
  font-size: 17px;
  display: inline;
  padding: 0 25px 0 0; }

  nav.mainMenu ul li a {
    color: rgba(255,255,255,0.6);
    text-transform: uppercase; }

    nav.mainMenu ul li a:hover {
      color: rgba(255,255,255,0.87);
      transition: 0.2s; }

    nav.mainMenu ul li a.active {
      border-bottom: 1px solid rgb(145, 71, 123); }

      nav.mainMenu ul li a.firstLink {
        color: rgba(255,255,255,0.87);
        font-weight: 500; }

        nav.mainMenu ul li a.firstLink:hover {
          color: rgb(145, 71, 123);
          transition: 0.4s; }

/* PORTFOLIO
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.portfolioElement {
  display: flex;
  margin-bottom: 20px;
}

.portfolioElementThumb img {
  display: block;
  height: 150px;
  width: auto;
  outline: 7px solid rgba(145, 71, 123, .5);
  outline-offset: -7px;
}

.portfolioElementCover img {
  display: block;
  height: 200px;
  width: auto;
  outline: 7px solid rgba(145, 71, 123, .5);
  outline-offset: -7px;
}

.portfolioElementContent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid blue; */
  margin-left: 20px; }
  #left.portfolioElementContent { margin-left: 0px;}

.portfolioElementContent h2 a {
  text-transform: uppercase;
  color: rgba(255,255,255,0.87); }

  .portfolioElementContent h2 a:hover {
    color: rgba(255,255,255,0.6);
    transition: 0.2s}

.portfolioElementContent h3 {
  margin-bottom: 5px; }

  .portfolioElementContent h3 span {
  color: rgba(255,255,255,0.38);
  font-size: 12px;
  }

.portfolioElementContent p {
  border-left: 1px solid rgba(255,255,255,0.1);
  font-weight: 300;
  padding-left: 10px;
  margin-bottom: 10px; }

  .portfolioElementContent p.mail {
    margin-top: -2px;
    border: none;
    padding: 0px;
    font-weight: 400;
    unicode-bidi:bidi-override;
    direction:rtl;
    text-align: left; }

.portfolioElementContent li {
  display: inline; }

  .portfolioElementContent li a {
    text-transform: uppercase;
    font-size: 12px;
    background-color: rgba(255,255,255,0.05);
    border-radius: 3px;
    padding: 6px 20px 5px 20px;
    color: rgba(255,255,255,0.38); }

      .portfolioElementContent li a:hover {
        color: rgba(255,255,255,0.6);
        background-color: rgba(255,255,255,0.2);
        transition: 0.2s; }

        .portfolioElementContent li.lastLink a {
          background-color: rgba(145, 71, 123, .5);
          color: rgba(255,255,255,0.6); }

          .portfolioElementContent li.lastLink a:hover {
            background-color: rgba(145, 71, 123, .8);
            color: rgba(255,255,255,0.87);
            transition: 0.2s; }

.portfolioContent {

}

  .portfolioContent img {
    max-width: 100%;
    box-sizing: border-box; }

/* ARTICLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.articleElement {
  margin-bottom: 10px; }

.articleElement h2 a, .articleElement h2 {
  color: rgba(255, 255, 255, 0.87); }

  .articleElement h2 a:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s }

.articleElement h2 time {
  color: rgba(255, 255, 255, 0.38);
  font-size: 12px; }

.articleElement span.articleElementTags a {
  text-transform: uppercase;
  font-size: 10px;
  background-color: rgba(255,255,255,0.05);
  border-radius: 3px;
  padding: 4px 10px 3px 10px;
  color: rgba(255,255,255,0.38);
  position: relative;
  bottom: 2px; }

  .articleElement span.articleElementTags a:hover {
    color: rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.2);
    transition: 0.2s; }

.articleElement header {
    margin-bottom: 20px; }

.articleElementContent {

  }

  .articleElementContent p {
    padding: 8px 0 8px 0; }

    .articleElementContent strong {
      font-weight: 500;
      color: rgba(255,255,255,0.8); }

  .articleElementContent img {
    max-width: 100%;
    box-sizing: border-box; }

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mainFooter {
  color: rgba(255,255,255,0.38);
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin: 20px 0 20px; }

/* AUTRE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.spamkill { display: none; }
