<style>
    div.galleryinline {
        display: flex;
        flex-wrap: nowrap;
    }

    div.galleryinline a {
        flex-grow: 1;
        object-fit: cover;
        margin: 3px;
        display: flex;
        height: 180px;
    }

    div.galleryinline a img {
        object-fit: cover;
        flex-grow: 1;
    }
</style>

<div class="galleryinline">
    {{ $path := print "content/" .Page.Dir (.Get "src") }}
    {{ $url  := print .Page.Dir (.Get "src") }}

      {{ range (readDir $path)  }}
          {{ $src := print $url "/" .Name }}
          {{- $isimg := lower $src | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
            {{- if and $isimg }}
              <a data-fancybox="gallery" href="../../../{{ $src }}">
                <img src="../../../{{ $src }}">  <br/>
              </a>
            {{ end }}
          {{ end }}
</div>
